
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); 
/* 
    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
/*
    --color1: hsla(221, 37%, 45%, 1);
    --color2: hsla(240, 35%, 46%, 1);
    --color3: hsla(294, 44%, 33%, 1);
    --color4: hsla(307, 21%, 49%, 1);
    --color5: hsla(19, 90%, 70%, 1);
    */

    --color1: hsla(161, 19%, 69%, 1);
    --color2: hsla(8, 66%, 73%, 1);
    --color3: hsla(9, 61%, 80%, 1);
    --color4: hsla(11, 50%, 87%, 1);
    --color5: hsla(26, 47%, 97%, 1);
    --color6: hsla(27, 47%, 43%, 1);


    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
   background-image: linear-gradient(var(--color4), var(--color2));
}

main {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    
  
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    color: var(--color4);
    text-shadow: 3px 4px var(--color1);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

/*
CALCULATOR
*/




  .main-section {
      
      margin-top: 100px;
      background-image: linear-gradient(var(--color2), var(--color4));
  }

  .input-field-1 , .input-field-2 {
      color: var(--color5); ;
      font-size: 40px;
      text-align:center;
      background-color: var(--color1);
      margin: 20px;

  }

  button {
      color: var(--color6);
      text-align: center;
      font-size: 35px;
      background-color: var(--color4);
  }

  #sum-field {
      font-weight: bold;
       text-shadow: 2px 2px var(--color4);
       font-size: 200px;
       color: var(--color1);
  }

